<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> {{ title }} - Rock Paper Scissors</title>
</head>
    <header id="websitename">
        <h1>Rock Paper Scissors</h1>
        <ul>
            <li class="navLink"><a href="/">Home</a></li>
            <li class="navLink"><a href="/rock/scissors">Player v Player</a></li>
        </ul>
    </header>
<body>
    <section>
        <h2>The Rules of Engagement</h2>
        <p>Each player enters their name and chooses either rock, paper or scissors</p>
        <br>
        <p>The winner is decided as follows:</p>
    </section>
    <section id="rvs">
        <p>
        <img src="static/images/rock.png" alt="A picture of rock" style="width:50px;height:50px;">
        SMASHES
        <img src="static/images/scissors.png" alt="A picture of scissors" style="width:50px;height:50px;">
        </p>
    </section>
    <section id="svp">
        <p>
        <img src="static/images/scissors.png" alt="A picture of scissors" style="width:50px;height:50px;">
        CUTS
        <img src="static/images/paper.png" alt="A picture of paper" style="width:50px;height:50px;">
        </p>
    </section>
    <section id="pvr">
        <p>
        <img src="static/images/paper.png" alt="A picture of paper" style="width:50px;height:50px;">
        COVERS
        <img src="static/images/rock.png" alt="A picture of rock" style="width:50px;height:50px;">
        </p>
    </section>
    
</body>
</html>