<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title> {{ title }} - Player 1</title>
</head>
<header>
    <h1 id="websitename">Rock Paper Scissors</h1>
    <nav>
        <ul>
            <li class="navLink"><a href="/">Home</a></li>
            <li class="navLink"><a href="/player1">Play Game</a></li>
            <li class="navLink"><a id="ah" href="/pvp">Player v Player</a></li>
        </ul>
    </nav>
</header>
<body>
    <section class="section-content">
        <!-- <form class="form-inline" action="/rock/scissors" method="post">
            <label for="name1">Player 1's Name</label>
            <input type="text" name="name1" id="name1"> </form> -->
            <br>
            <p>Choose a move for Player 1:</p>
            <article>
            <a href="/player1/rock"><img src="static/images/rock.png" alt="A picture of rock" style="width:200px;height:200px;"></a>
            <a href="/player1/paper"><img src="static/images/paper.png" alt="A picture of paper" style="width:200px;height:200px;"></a>
            <a href="/player1/scissors"><img src="static/images/scissors.png" alt="A picture of scissors" style="width:200px;height:200px;"></a>
            </article>
    </section> 
</body>
<footer>
    <p>Anderson Web Enterprises 2020</p>
</footer>
</html>