<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title> {{ title }} Results </title>
</head>
<header>
    <h1 id="websitename">Rock Paper Scissors</h1>
    <nav>
        <ul>
            <li class="navLink"><a href="/">Home</a></li>
            <li class="navLink"><a href="/player1">Play Human</a></li>
            <li class="navLink"><a href="/playvcompy">Play Compy</a></li>
            <li class="navLink"><a id="ah" href="/pvp">Player v Player</a></li>
        </ul>
    </nav>
</header>
<body>
    <section id="winner">
        <h2>And the result is:</h2>

        <p>{{player1.name}} played: {{player1.choice}}</p>
        <p>{{player2.name}} played: {{player2.choice}}</p>

        {% if winner != "Draw" %}
        <p>{{winner.name}} wins with {{winner.choice}}</p>
        {% else %}
        <p>It's a draw!</p>
        {% endif %}
        <p><a href="/pvp/new"><img src="{{ url_for('static', filename='images/playagain.png') }}" alt="Play Again" style="width:300px;height:250px;"></a></p>
    </section>
</body>
<footer>
    <p>Anderson Web Enterprises 2020</p>
</footer>
</html>